*{
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: calc((100% / 3) - (1em / 3));
  margin-left: 1em;
}

.block:nth-child(3n) {
  /* width: calc((100% / 3) - (2em / 3)); */
  margin-right: 1em;
}
